#grid{
    display: grid;
    grid-template-columns: 70px 600px 70px;
    grid-template-rows: repeat(7, 70px);
    grid-gap: 10px;
}
.one{
    background-color: red;
    grid-column: 1 / 4;
}
.two{
    background-color: yellow;
    grid-column: 3;
    grid-row: 2 / 7; 
}
.three{
    background-color: green;
    grid-row: 2 / 7;
}
.four{
    background-color: blue;
}
.five{
    background-color: burlywood;
    grid-row: 3/ 7;
}
.six{
    background-color: aqua;
    grid-row: 7;
    grid-column: 1 / 4;
}